.Body {
  background-color: #efe7da;
}
.Text {
  background-color: #efe7da;
  text-align: left;
  text-align-last: left;
  padding-left: 100px;
  padding-right: 100px;
}

.Title {
  background-color: #efe7da;
  padding-left: 100px;
  padding-right: 100px;
}
