.Body {
  background-color: #ecddc0;
  margin: 0;
  min-height: 81vh;
}

.Text {
  text-align: left;
  text-align-last: left;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 19px;
}

.Title {
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Palatino Linotype";
}
