.AppDocuments {
	text-align: center;
	justify-content: center;
	padding-right: 40px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: space-around;
}

.Pagination {
	//TODO CENTER
}

.individualDocuments {
	padding: 20px;
}

.left {
	padding-left: 40px;
}