.App {
	text-align: center;
	background-color: #6b242c;
}

.AppBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.AppLink {
	color: #8c2f39;
	text-align: center;
}