@font-face {
  font-family: "Mongolian Baiti";
  src: url("monbaiti.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mongolian Baiti";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
