@font-face {
	font-family: "Roboto Light";
	src: url("../../Roboto-Light.ttf");
}

.Sort {
	padding-right: 20px;
	padding-left: 30px;
    font-family: "Roboto Light";
}

.dropdownItem:active  {
	background-color: #8c2f39;
}

