.Title {
	color: white;
	background-color: #17a2b8;
	padding-top: 5px;

	>* {
		padding-top: 5px;
	}
}

.Subtitle {
	padding-top: 12px;
	color: white;
}

.Zoom {
	transition: transform 0.2s;
	width: 16rem;
}

.Zoom:hover {
	transform: scale(1.12);
}